body {color:#111111;font-family:Tahoma;background-color:#ffffff;text-align:center}
div#container {background-color:#eeeeee;margin:0 auto;max-width:1100px}
canvas {margin-top:10px;margin-bottom:20px;margin:0 auto}
h1 {padding:10px 20px;color:#000000;background-color:#dddddd}
h2 {padding:5px 20px;color:#ffff00}
a {display:inline-block;text-decoration:none;color:#ffff99}
a:hover {display:inline-block;text-decoration:none;color:#ffffff;cursor:pointer}
div#footer {margin-top:25px;padding:5px;background-color:#dddddd;color:#000000}
span.t-label {display:inline-block;width:240px;text-align:left}
input[type=text] {width:120px;background-color:#ffffff;color:#111111;height:20px;font-family:Tahoma;font-size:12pt;border:1px solid #888888;margin:3px 0px}
input[type=number] {text-align:right;width:50px;background-color:#ffffff;color:#111111;height:20px;font-family:Tahoma;font-size:12pt;border:1px solid #888888;margin:3px 0px}
div.left {width:45%;box-sizing:border-box;float:left;text-align:left;padding:5px 10px}
div.right {width:55%;box-sizing:border-box;float:left;text-align:left;padding:5px 10px}
.row:after {
  content: "";
  display: table;
  clear: both;
}
textarea {width:100%;height:100px;color:#dddddd;background-color:#000000}
button {padding:5px 12px;background-color:#ffffff;color:#111111;border:2px #888888 solid;cursor:pointer;font-size:12pt}
button:hover {padding:5px 12px;background-color:#ffffff;color:#111111;border:2px #8888cc solid;cursor:pointer;font-size:12pt}
button:active {padding:5px 12px;background-color:#ffffff;color:#111111;border:2px #8888ff solid;cursor:pointer;font-size:12pt}
select {padding:3px 1px;background-color:#ffffff;color:#111111;border:1px #888888 solid;font-size:11pt;margin:2px 0px}
span#switchstyle {color:#000088;cursor:pointer}
span#switchstyle:hover {color:#0000cc;cursor:pointer}
span#allowed-formats {font-size:11pt}
span#format-incorrect {color:#ff2222}
span#not-yet-issued {color:#dd7722}